.home-header {
    width: calc(100% - 120px); 
    position: fixed; 
    background-color: transparent; 
    top: 0px; 
    z-index: 30;
    padding: 30px 60px;  
    color: white; 
    transition: opacity 1000ms ease-in-out; 
}

.home-header-login-button { 
    position: absolute; 
    top: 20px;
    right: 60px;
    cursor: pointer; 
    opacity: 0.7; 
    transition: 0.3s;    
}
.home-header-login-button:hover {
    opacity: 1; 
}

.home-header-about-button { 
    position: absolute; 
    top: 20px;
    right: 150px;
    cursor: pointer; 
    opacity: 0.7; 
    transition: 0.3s;    
}

.home-header-about-button:hover {
    opacity: 1; 
}

@media screen and (max-width: 700px) {
    .home-header-about-button { 
        top: 15px;
        right: 90px;   
    }
    .home-header-login-button { 
        top: 15px;
        right: 30px; 
    }
}

@media screen and (max-width: 500px) {
    .home-header-about-button { 
        top: 15px;
        right: 60px;   
    }
    .home-header-login-button { 
        top: 15px;
        right: 0px; 
    }
}