.App {
  margin: 0px; 
  padding: 0px;
  display: flex;  
}

.App header {
  position: fixed; 
  top: 0px; 
  background-color: black; 
  padding: 22px 70px; 
  width: calc(100% - 140px); 
}

.new-event-button {
  padding: 10px 20px; 
  color: white; 
  background-color: rgb(59, 59, 59); 
  border-radius: 3px; 
  font-size: 14px; 
  border: 0px; 
  float: right; 
  cursor: pointer; 
  transition: 0.5s; 
}

.new-event-button:hover {
  background-color: rgb(43, 43, 43); 
}

