.Event-component {
    height: calc(100% - 10px); 
    width: calc(100% - 16px); 
    margin: 0px; 
    padding: 5px 8px; 
    overflow: hidden; 
}

.container {
    width: 100%; 
    transition: opacity 300ms ease-in-out; 
}

.Event-component p {
    margin: 0px;
    font-size: 12px; 
    color: rgb(43, 43, 43); 
    font-family: arial;  
}

.Call {
    background-color: rgb(231, 209, 209); 
}

.Meeting {
    background-color: rgb(209, 209, 231); 
}

.Trip {
    background-color: rgb(209, 231, 211); 
}

.Appointment {
    background-color: rgb(231, 231, 209); 
}

.Event {
    background-color: rgb(225, 209, 231); 
}

.Default {
    background-color: rgb(229, 214, 190); 
}


/* Meeting", "Trip", "Call", "Appointment", "Event" */
