.modal-main {
    width: 50%; 
    max-width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(211, 211, 211); 
    padding: 50px; 
    z-index: 21;
    color: rgb(68, 68, 68);
    transition: 1s;
    box-shadow: 0px 0px 40px rgb(29, 29, 29); 
    border-radius: 3px;
    transition: 0.3s;   
}

.modal-main h3 {
    margin: 40px; 
    text-align: center; 
}

.dropdown {
    width: 100%; 
    margin: 20px 0px; 
}

.modal-main h2 {
    margin: 40px 0px 30px; 
}

.modal-p {
    line-height: 22px; 
}

.modal-input {
    width: calc(100% - 20px); 
    padding: 10px; 
    border-radius: 3px; 
    border: 1px solid rgb(206, 206, 206); 
    font-size: 16px;
}

.modal-title {
    margin-top: 0px;
    margin-bottom: 30px;  
}

.modal-button-submit {
    margin-top: 30px; 
    color: white; 
    background-color: rgb(49, 49, 58); 
    padding: 20px 15px; 
    width: 100%; 
    font-size: 17px;
    border-radius: 5px;  
    transition: 0.6s; 
    cursor: pointer; 
}

.modal-button-submit:hover {
    background-color: rgb(31, 31, 36); 
} 

.modal-button-delete {
    margin-top: 10px; 
    color: white; 
    background-color: rgb(126, 49, 49); 
    padding: 20px 15px; 
    width: 100%; 
    font-size: 17px;
    border-radius: 5px;  
    transition: 0.6s; 
    cursor: pointer; 
}

.modal-button-delete:hover {
    background-color:rgb(92, 45, 45); 
} 

.modal-close {
    float: right; 
    opacity: 0.6; 
    font-size: 20px; 
    position: relative; 
    top: -18px; 
    right: -10px; 
    transition: 0.3s; 
    cursor: pointer;
}

.modal-close:hover {
    opacity: 0.8; 
}

.form-error {
    color: rgb(167, 64, 64); 
    margin-left: 20px; 
}


@media screen and (max-width: 600px) {
    .modal-main {
        width: 100%; 
        height: calc(100% - 100px);
        transition: 0.3s;   
    }
}

@media screen and (max-width: 400px) {
    .modal-main {
        width: 100%;  
        border-radius: 0px;
        transition: 0.3s;   
    }
}